.sucess-msg{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.sucess-img{
    height: 200px;
}
.sucess-img-container{
    display: flex;
    justify-content: center;
}
.button-container{
    display: flex;
    justify-content: center;
}
.button-container button{
    width: max-content;
}