.balance{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.balance-text-info{
    display: flex;
    flex-flow: column;
}
.balance h1, .balance h2{
    margin: 0;
}